DATABASE_URL=""
PORT="8080"
HOST="0.0.0.0"
NODE_ENV="development"

# Cors Origin
# Developer mode
CORS_ORIGIN="http://localhost:3000"
# Production mode
# CORS_ORIGIN=""

# Resend
RESEND_API_KEY=""
RESEND_FROM=""
RESEND_OTP_EXPIRES_MINUTES=""
MAX_OTP_ATTEMPTS=""

# Swagger
SWAGGER_USER=""
SWAGGER_PASSWORD=""

# JWT
JWT_ACCESS_SECRET_KEY=""
JWT_REFRESH_SECRET_KEY=""
JWT_PASSWORD_RESET_SECRET_KEY=""
JWT_ACCESS_EXPIRES_IN=""
JWT_REFRESH_EXPIRES_IN=""
JWT_PASSWORD_RESET_EXPIRES_IN=""
JWT_ISS=""
