DATABASE_URL=""
PORT="8080"
HOST="0.0.0.0"
NODE_ENV="development"

# Cors Origin
# Developer mode
CORS_ORIGIN="http://localhost:3000"
# Production mode
# CORS_ORIGIN=""

# Resend
RESEND_API_KEY=""
RESEND_FROM=""
RESEND_OTP_EXPIRES_MINUTES=""
MAX_OTP_ATTEMPTS=""
